%span#hidden_data.hidden{data: {dialog: "create",model_name: mat(@object,'model_name'),oid: "null"}}
%form{action: "/sys/#{@path}",method: "post"}
  %table{:cellspacing => "0"}
    %thead
      %tr.pdb-05
        %th{colspan: "3"}
          %span.warning.width-350.ju= t('intro.create.main', data: mat(@object,'model_name'))
    = partial "#{@path}/form"
    %tfoot
      %tr
        - td_buttonset(['save','cancel'],{style: 'ta-ce'},'3')
