- xhr_hidden_data({dialog: "delete"})
- xhr_info('warning',t('intro.delete.main',data: model_name))
%form{action: "/sys/#{@path}",method: "delete"}
  %table
    %thead
    %tbody
      %tr
        %td
          = haml :"/#{@path}/_show"
    %tfoot
      - tr_buttonset(['delete','cancel'],{td: {class: 'ta-ce'}})

