- xhr_hidden_data({dialog: "show"})
%form{action: "/sys/#{@path}",method: "get"}
  %table
    %thead
    %tbody
      %tr
        %td
          = haml :"#{@path}/_show"
    %tfoot
      - tr_buttonset(['create','edit','delete','cancel'],{td: {class: 'ta-ce'}})
