%ul
  %li.em.st=  t('xhr_tasks.title')
  - tsks.each do |tsk|
    %li
      %a{:id  => "#{tsk}",:href => "#"}
        = TrstTask.find(tsk).name
      %span.help{:onclick  => "task.xhrGet('#{tsk}','help')"}

