- if page.access_lvl >= current_user.permission_lvl
  %ul
    - page.tasks.each do |t|
      %li
        %a{:id  => "#{t.id}",:'data-tsks' => "filter",:href => "#"}= t.name
        %span.help{:onclick  => "trst.task.init('#{t.id}','help')"}
