.*
!.gitignore
!.gitkeep
!.yardopts
tmp/*
log/*
!log/.gitkeep
!tmp/restart.txt
Gemfile.lock
config/*.yml
public/api
public/images/*
!public/images/trst
public/stylesheets/*
!public/stylesheets/trst
!public/stylesheets/fonts
system/assets/stylesheets/*
!system/assets/stylesheets/trst
system/controllers/public_*
system/models/*
!system/models/trst
system/views/public/*
!system/views/public/trst
system/views/system/asrv
system/views/system/demo
system/views/system/clns
system/views/system/htls
system/views/system/wstm
