%tbody
  - tr_input_for @object, 'id'
  - tr_input_for @object, 'name'
  - tr_input_for @object, 'title'
  - tr_input_for @object, 'content'
  - tr_input_for @object, 'slug'
  - tr_input_for @object, 'order'
  - tr_input_for @object, 'access_lvl'
  - @object.access_grp.each_with_index do |o,i|
    -tr_input_for @object, 'access_grp', {order: i}
  %tr
    %td{:colspan => "3"}
      %input{:type => "hidden",:name => "[#{@path}][task_ids][]",:value => nil}
      %ul.trst-ui-sortable
        %span.relation-title= t('relations.title_inv')
        - @object.view_tasks.each do |t|
          %li.ui-state-default
            %span= t[1]
            %input{:type => "hidden",:name => "[#{@path}][task_ids][]",:value => t[0]}
      %button{:type => "button",:data => {:action => "relations",:icon => "transferthick-e-w",:rel_to => "task"}}= mat(@object, :task_ids)
