%table
  %tbody
    - tr_input_for @object, 'name'
    - tr_input_for @object, 'title'
    - tr_input_for @object, 'content'
    - tr_input_for @object, 'slug'
    - tr_input_for @object, 'order'
    - tr_input_for @object, 'access_lvl'
    - tr_input_for @object, 'access_grp', {order: 0}
    %tr
      %td{:colspan => "3"}
        %input{:type => "hidden",:name => "[#{@path}][task_ids][]",:value => nil}
        %ul.trst-ui-sortable
          %span.relation-title= t('title.relations_inv')
          - @object.view_tasks.each do |t|
            %li.ui-state-default
              %span= t[1]
              %input{:type => "hidden",:name => "[#{@path}][task_ids][]",:value => t[0]}
        - button 'relations', {relations: {rel_to: 'task', text: mat(@object, :task_ids)}}
