%table
  %tbody
    - tr_input_for @object, 'name',       {tag: {data: {mark: 'ui-focus focus step'}}}
    - tr_input_for @object, 'title',      {tag: {data: {mark: 'ui-focus step'}}}
    - tr_input_for @object, 'content',    {tag: {data: {mark: 'ui-focus step'}}}
    - tr_input_for @object, 'slug',       {tag: {data: {mark: 'ui-focus step'}}}
    - tr_input_for @object, 'order',      {tag: {data: {mark: 'ui-focus step'}}}
    - tr_input_for @object, 'access_lvl', {tag: {data: {mark: 'ui-focus step'}}}
    - tr_input_for @object, 'access_grp', {guess: {order: 0},tag: {data: {mark: 'ui-focus step'}}}
    %tr
      %td{:colspan => "3"}
        %input{:type => "hidden",:name => "[#{@path}][task_ids][]",:value => nil}
        %ul.trst-ui-sortable
          %span.relation-title= t('title.relations_inv')
          - @object.view_tasks.each do |t|
            %li.ui-state-default
              %span= t[1]
              %input{:type => "hidden",:name => "[#{@path}][task_ids][]",:value => t[0]}
        - button 'relations', {relations: {rel_to: 'task', text: mat(@object, :task_ids)}}
