%table
  %tbody
    - tr_input_for @object, 'name',       {guess: {order: 0}}
    - tr_input_for @object, 'name',       {guess: {order: 1}}
    - tr_input_for @object, 'name',       {guess: {order: 2}}
    - tr_input_for @object, 'identities', {guess: {order: 'caen'}}
    - tr_input_for @object, 'identities', {guess: {order: 'chambcom'}}
    - tr_input_for @object, 'identities', {guess: {order: 'fiscal'}}
    - tr_input_for @object, 'identities', {guess: {order: 'account'}}
    - tr_input_for @object, 'identities', {guess: {order: 'itm'}}
    - tr_input_for @object, 'identities', {guess: {order: 'internet'}}
    - tr_input_for @object, 'identities', {guess: {order: 'cod'}}
    - tr_input_for @object, 'contact',    {guess: {order: 'phone'}}
    - tr_input_for @object, 'contact',    {guess: {order: 'fax'}}
    - tr_input_for @object, 'contact',    {guess: {order: 'email'}}
    - tr_input_for @object, 'contact',    {guess: {order: 'website'}}
