%table
  %tbody
    - tr_show_for @object, 'id'
    - tr_show_for @object, 'name',      {order: 0}
    - tr_show_for @object, 'name',      {order: 1}
    - tr_show_for @object, 'name',      {order: 2}
    - tr_show_for @object, 'identities',{order: 'caen'}
    - tr_show_for @object, 'identities',{order: 'chambcom'}
    - tr_show_for @object, 'identities',{order: 'fiscal'}
    - tr_show_for @object, 'identities',{order: 'account'}
    - tr_show_for @object, 'identities',{order: 'itm'}
    - tr_show_for @object, 'identities',{order: 'internet'}
    - tr_show_for @object, 'identities',{order: 'cod'}
    - tr_show_for @object, 'contact',   {order: 'phone'}
    - tr_show_for @object, 'contact',   {order: 'fax'}
    - tr_show_for @object, 'contact',   {order: 'email'}
    - tr_show_for @object, 'contact',   {order: 'website'}
    - tr_show_for @object, 'created_at'
    - tr_show_for @object, 'updated_at'
