%table
  %tbody
    - tr_show_for @object, 'id'
    - tr_show_for @object, 'name',      {guess: {order: 0}}
    - tr_show_for @object, 'name',      {guess: {order: 1}}
    - tr_show_for @object, 'name',      {guess: {order: 2}}
    - tr_show_for @object, 'identities',{guess: {order: 'caen'}}
    - tr_show_for @object, 'identities',{guess: {order: 'chambcom'}}
    - tr_show_for @object, 'identities',{guess: {order: 'fiscal'}}
    - tr_show_for @object, 'identities',{guess: {order: 'account'}}
    - tr_show_for @object, 'identities',{guess: {order: 'itm'}}
    - tr_show_for @object, 'identities',{guess: {order: 'internet'}}
    - tr_show_for @object, 'identities',{guess: {order: 'cod'}}
    - tr_show_for @object, 'contact',   {guess: {order: 'phone'}}
    - tr_show_for @object, 'contact',   {guess: {order: 'fax'}}
    - tr_show_for @object, 'contact',   {guess: {order: 'email'}}
    - tr_show_for @object, 'contact',   {guess: {order: 'website'}}
    - tr_show_for @object, 'created_at'
    - tr_show_for @object, 'updated_at'
