-# Template for testing pdf generators 
:ruby
  # encoding: utf-8
  require 'prawn/measurement_extensions'

  pdf = Prawn::Document.new(
    :page_size => 'A4',
    :page_layout => :landscape,
    :margin => [0.mm],
    #:skip_page_creation => true,
    :info => {
      :Title => "Test pdf",
      :Author => "kfl62",
      :Subject => "Template for testing",
      :Keywords => "TrustSys Prawn MongoDB Mongoid Sinatra",
      :Creator => "http://demo.trst.ro (using Sinatra, Prawn)",
      :CreationDate => Time.now
    }
  )

  pdf.font_families.update(
    'Verdana' => {:bold => 'public/fonts/verdanab.ttf',
                  :italic => 'public/fonts/verdanai.ttf',
                  :bold_italic => 'public/fonts/verdanaz.ttf',
                  :normal => 'public/fonts/verdana.ttf'})

  pdf.font 'Verdana'
  pdf.text 'Some testing'
-# Render pdf document for download
-# headers for attachment handled in admin.rb
= pdf.render()

