%p.header_title.em.st.ce Cleantech - TrustSys
%p.header_auth.ri
  %span 
    %a.st.em{:href => "auth/login"} Login
    &nbsp;|&nbsp;
    %a.st.em{:href => "http://trst.ro"} TrustSys
    %br
  %br
  %br
  %span Autentificat ca şi:<br>
  %span.em.st Anonymus

