%head
  %title TrustSys - Public
  %meta{:charset => "UTF-8"}
  %meta{:name => "name", :content => "TrustSys - Sistem informatic"}
  %meta{:name => "description", :content => "Sistem informatic"}
  %meta{:name => "keywords", :content => "Sistem informatic"}
  %meta{:name => "viewport", :content => "initial-scale=1.0, user-scalable=no"}
  :javascript
    djConfig = {baseUrl: "/javascripts/dojo/dojo/", modulePaths: {trst: '/javascripts/trust_sys'}}
  - if settings.dojo_cdn
    %link{:href => "/stylesheets/screen.css",:media => "all",:rel => "stylesheet",:type => "text/css"}
    %script{:language => "javascript",:src => "http://ajax.googleapis.com/ajax/libs/dojo/1.6/dojo/dojo.xd.js",:type => "text/javascript"}
    %script{:language => "javascript",:src => "/javascripts/application.js",:type => "text/javascript"}
  - else
    %link{:href => "/stylesheets/screen.css",:media => "all",:rel => "stylesheet",:type => "text/css"}
    %script{:language => "javascript",:src => "/javascripts/dojo/dojo/dojo.js",:type => "text/javascript"}
    %script{:language => "javascript",:src => "/javascripts/application.js",:type => "text/javascript"}
