/* line 4, ../../.bundle/ruby/1.9.1/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
html {
  margin: 0;
  padding: 0;
  border: 0; }

/* line 18, ../../.bundle/ruby/1.9.1/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
.bp-reset-element, body, h1, h2, h3, h4, h5, h6, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, blockquote, q, th, td, caption, table, div, span, object, iframe, p, pre, a, abbr, acronym, address, code, del, dfn, em, img, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, tbody, tfoot, thead, tr {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

/* line 20, ../../.bundle/ruby/1.9.1/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

/* line 21, ../../.bundle/ruby/1.9.1/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote, q {
  quotes: "" ""; }
/* line 67, ../../.bundle/ruby/1.9.1/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: ""; }

/* line 22, ../../.bundle/ruby/1.9.1/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
th, td, caption {
  float: none !important;
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 23, ../../.bundle/ruby/1.9.1/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle; }

/* line 24, ../../.bundle/ruby/1.9.1/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
a img {
  border: none; }

/* line 6, ../../trst/assets/stylesheets/partials/_base.sass */
html * {
  font-size: 100.01%; }

/* line 8, ../../trst/assets/stylesheets/partials/_base.sass */
textarea, pre, tt, code {
  font-family: "Courier New", Courier, monospace; }

/* line 10, ../../trst/assets/stylesheets/partials/_base.sass */
body {
  font-family: Verdana, Helvetica, Arial, sans-serif;
  font-size: 75%;
  margin: 0px; }

/* line 14, ../../trst/assets/stylesheets/partials/_base.sass */
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  margin: 0 0 0.25em 0; }

/* line 17, ../../trst/assets/stylesheets/partials/_base.sass */
h1 {
  font-size: 200%; }

/* line 19, ../../trst/assets/stylesheets/partials/_base.sass */
h2 {
  font-size: 166.67%; }

/* line 21, ../../trst/assets/stylesheets/partials/_base.sass */
h3 {
  font-size: 150%; }

/* line 23, ../../trst/assets/stylesheets/partials/_base.sass */
h4 {
  font-size: 133.33%; }

/* line 25, ../../trst/assets/stylesheets/partials/_base.sass */
h5 {
  font-size: 116.67%; }

/* line 27, ../../trst/assets/stylesheets/partials/_base.sass */
h6 {
  font-size: 116.67%;
  font-style: italic; }

/* line 30, ../../trst/assets/stylesheets/partials/_base.sass */
p {
  line-height: 1.5em;
  margin: 0 0 1em 0; }

/* line 33, ../../trst/assets/stylesheets/partials/_base.sass */
ul, ol, dl {
  line-height: 1.5em;
  margin: 0 0 1em 0.25em; }

/* line 36, ../../trst/assets/stylesheets/partials/_base.sass */
li {
  margin-left: 0.25em;
  line-height: 1.5em; }

/* line 39, ../../trst/assets/stylesheets/partials/_base.sass */
dt {
  font-weight: bold; }

/* line 41, ../../trst/assets/stylesheets/partials/_base.sass */
dd {
  margin: 0 0 1em 2em; }

/* line 43, ../../trst/assets/stylesheets/partials/_base.sass */
cite, blockquote {
  font-style: italic; }

/* line 45, ../../trst/assets/stylesheets/partials/_base.sass */
blockquote {
  margin: 0 0 1em 1.5em; }

/* line 47, ../../trst/assets/stylesheets/partials/_base.sass */
strong, b {
  font-weight: bold; }

/* line 49, ../../trst/assets/stylesheets/partials/_base.sass */
em, i {
  font-style: italic; }

/* line 51, ../../trst/assets/stylesheets/partials/_base.sass */
pre, code {
  font-family: monospace;
  font-size: 1.1em; }

/* line 54, ../../trst/assets/stylesheets/partials/_base.sass */
acronym, abbr {
  letter-spacing: 0.07em;
  border-bottom: 0.1em dashed #cc0000; }

/* line 58, ../../trst/assets/stylesheets/partials/_base.sass */
[class~=em], [class~=it] {
  font-style: italic; }

/* line 60, ../../trst/assets/stylesheets/partials/_base.sass */
[class~=bo], [class~=st] {
  font-weight: bold; }

/* line 62, ../../trst/assets/stylesheets/partials/_base.sass */
[class~=small] {
  font-size: 0.9em; }

/* line 64, ../../trst/assets/stylesheets/partials/_base.sass */
[class~=ju] {
  text-align: justify; }

/* line 66, ../../trst/assets/stylesheets/partials/_base.sass */
[class~=ce] {
  text-align: center; }

/* line 68, ../../trst/assets/stylesheets/partials/_base.sass */
[class~=ri] {
  text-align: right; }

/* line 70, ../../trst/assets/stylesheets/partials/_base.sass */
[class~=vam] {
  vertical-align: middle !important; }

/* line 72, ../../trst/assets/stylesheets/partials/_base.sass */
[class~=vat] {
  vertical-align: top !important; }

/* line 74, ../../trst/assets/stylesheets/partials/_base.sass */
[class~=in] {
  text-indent: 2em; }

/* line 76, ../../trst/assets/stylesheets/partials/_base.sass */
[class~=flri] {
  float: right; }

/* line 78, ../../trst/assets/stylesheets/partials/_base.sass */
.hidden {
  display: none; }

@font-face {
  font-family: "EmbossedBlackWideNormal";
  src: url(/stylesheets/fonts/Embossed_Black_Wide-webfont.eot);
  src: url(/stylesheets/fonts/Embossed_Black_Wide-webfont.eot?#iefix) format('eot'), url(/stylesheets/fonts/Embossed_Black_Wide-webfont.woff) format('woff'), url(/stylesheets/fonts//Embossed_Black_Wide-webfont.ttf) format('truetype'), url(/stylesheets/fonts/Embossed_Black_Wide-webfont.svg) format('svg'); }

/* line 9, ../../trst/assets/stylesheets/application.sass */
body {
  background-color: #820000; }

/* line 11, ../../trst/assets/stylesheets/application.sass */
.wrap {
  width: 800px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1; }

/* line 13, ../../trst/assets/stylesheets/application.sass */
#content {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 530px;
  background-color: #f5f5f5;
  background-image: url('../images/firm/default/main_bckgrnd.png?1337434018');
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 10px;
  height: 500px;
  position: relative;
  overflow: auto;
  color: #333333; }
/* line 147, ../../.bundle/ruby/1.9.1/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #content {
  overflow-x: hidden; }
/* line 25, ../../trst/assets/stylesheets/application.sass */
#content #xhr_content {
  margin: 0.5em; }

/* line 27, ../../trst/assets/stylesheets/application.sass */
#xhr_msg {
  border-radius: 10px;
  box-shadow: 0.5em 0.5em #3e3e3e;
  color: black;
  display: none;
  position: absolute;
  padding: 1em;
  text-indent: 1.5em;
  top: 30px;
  z-index: 1002; }
/* line 37, ../../trst/assets/stylesheets/application.sass */
#xhr_msg.loading {
  background-color: #e6ffe6;
  background-image: url(/images/icons/loading.gif);
  background-position: 0.5em 0.5em;
  background-repeat: no-repeat;
  text-indent: 2.5em; }
/* line 44, ../../trst/assets/stylesheets/application.sass */
#xhr_msg.info {
  background-color: #e6ffe6;
  background-image: url(/images/icons/info.png);
  background-position: 0.5em 0.5em;
  background-repeat: no-repeat; }
/* line 50, ../../trst/assets/stylesheets/application.sass */
#xhr_msg.error, #xhr_msg.warning {
  background-color: #ffcccc;
  background-image: url(/images/icons/warning.png);
  background-position: 0.5em 0.5em;
  background-repeat: no-repeat; }

/* line 1, ../../trst/assets/stylesheets/partials/_header.sass */
#header {
  background-color: #820000;
  background-image: url('../images/firm/default/logo.png?1337434337');
  background-position: 25px -5px;
  background-repeat: no-repeat;
  height: 95px; }
/* line 8, ../../trst/assets/stylesheets/partials/_header.sass */
#header span > a {
  color: #f5f5f5;
  text-decoration: none; }
/* line 12, ../../trst/assets/stylesheets/partials/_header.sass */
#header.public p.header_title {
  color: #f5f5f5;
  font-family: "EmbossedBlackWideNormal";
  font-size: 4em;
  padding-top: 10px; }
/* line 18, ../../trst/assets/stylesheets/partials/_header.sass */
#header.public p.header_auth {
  color: #f5f5f5;
  position: relative;
  top: -127px;
  left: 750px; }
/* line 23, ../../trst/assets/stylesheets/partials/_header.sass */
#header.public #I18n {
  position: relative;
  top: -62px;
  left: 730px; }
/* line 28, ../../trst/assets/stylesheets/partials/_header.sass */
#header.system p.header_title {
  color: #f5f5f5;
  font-family: "EmbossedBlackWideNormal";
  font-size: 3em;
  padding-top: 10px; }
/* line 34, ../../trst/assets/stylesheets/partials/_header.sass */
#header.system p.header_auth {
  color: #f5f5f5;
  position: relative;
  top: -100px;
  left: 665px; }
/* line 39, ../../trst/assets/stylesheets/partials/_header.sass */
#header.system #I18n {
  position: relative;
  top: -104px;
  left: 730px; }
