%table
  %tbody
    - tr_input_for @object, 'slug',     {tag: {data: {mark: 'ui-focus focus step'}}}
    - tr_input_for @object, 'name',     {tag: {data: {mark: 'ui-focus step'}}}
    - tr_input_for @object, 'content',  {tag: {data: {mark: 'ui-focus step'}}}
