%ul
  %li 
    %a{:href => "#"} Home
  %li
    %a{:href => "#"} Ce fac azi? 
    %ul
      %li
        %a{:href => "#"} Intro
      %li
        %a{:href => "#"} Noţiuni TGS
      %li
        %a{:href => "#"} Modelare sistemică
      %li
        %a{:href => "#"} Paradigma OO
      %li
        %a{:href => "#"} De ce UML?
      %li
        %a{:href => "#"} Concluzii

