@import partials/base
@import compass/css3
@import compass//layout/sticky-footer
@import blueprint/grid
$blueprint_grid_columns: 9
$blueprint_grid_margin: 10px
$blueprint_grid_width: (800 - 8 * $blueprint_grid_margin) / $blueprint_grid_columns
$blueprint-container-size: 800px

body
  background-color: rgba(62, 62, 62, 1)
.wrap
  +container
[class~=em], [class~=it]
  font-style: italic
[class~=bo], [class~=st]
  font-weight: bold
[class~=small]
  font-size: 0.9em
[class~=ju]
  text-align: justify
[class~=ce]
  text-align: center
[class~=ri]
  text-align: right
[class~=in]
  text-indent: 2.0em
[class~=flri]
  float: right
.close
  background:
    image: image_url(unquote("/images/icons/remove.png"))
  cursor: pointer
  float: right
  width: 16px
  height: 16px
  margin: -6px
  padding: 0px

#content
  +column(6)
  background:
    color: rgba(245, 245, 245, 1)
    image: image_url(unquote("/images/trst/trst.gif"))
    position: center center
    repeat: no-repeat
  +border-radius(10px)
  height: 500px
  position: relative
  overflow: auto

#xhr_content
  margin: 0.5em

#xhr_msg
  +border-top-radius(10px)
  color: black
  display: block
  top: 0px
  left: 0px
  width: 100%
  position: absolute
  padding: 0.5em 0px
  text-indent: 2.5em
  &.hidden
    display: none
  &.info
    background:
      color: rgba(230, 255, 230, 0.9)
      image: image_url(unquote("/images/icons/info.png"))
      position: 0.25em 0.25em
      repeat: no-repeat
  &.error, &.warning
    background:
      color: rgba(255, 204, 204, 0.9)
      image: image_url(unquote("/images/icons/warning.png"))
      position: 0.25em 0.25em
      repeat: no-repeat

@import partials/header
@import partials/menu
@import partials/auth
@import partials/page
@import partials/sidebar
@import partials/task
@import partials/footer
