$base-font-size:        12px !default;
$base-line-height:      18px !default;
$rhythm-unit:           'em' !default;
$base-font-family:      Verdana, Helvetica, Arial, sans-serif !default;
$trst-font-path:        'fonts' !default;
$trst-max-width:        800px;
$trst-color-bg-dark:    rgba(0,0,0,.75) !default;
$trst-color-bg-light:   rgba(255,255,255,.95) !default;
$trst-color-bg-hlight:  rgba(255,255,190,1) !default;
$trst-color-txt-dark:   rgba(0,0,0,.80) !default;
$trst-color-txt-darker: rgba(0,0,0,.90) !default;
$trst-color-txt-light:  rgba(255,255,255,.95) !default;
$trst-color-brd-dark:   rgba(0,0,0,.75) !default;
$trst-color-bg-detail:  rgba(214,214,214,1) !default;
$trst-color-bg-info:    rgba(230, 255, 230, 1) !default;
$trst-color-bg-warning: rgba(255, 204, 204, 1) !default;
