section.content {
  display: flex;
  flex-direction: row;
  flex: 1;
  aside.main{
    flex: 1;
    @include background-image-file("main_bckgrnd.png");
    background-color: rgba(245,245,245,1);
    background-position: center;
    border-radius: 1rem;
    color: rgba(51,51,51,1);
    height: 50rem;
    #xhr_content{
      margin: 1rem;
    }
  }
  aside.sidebar{
    flex: 0 26rem;
    margin-left: 1rem;
    background-image: linear-gradient(to right, rgba(245,245,245,1), rgba(62,62,62,1));
    border-radius: 1rem;
    max-height: 50rem;
    p {
      margin: 0 0 .5rem 0;
      line-height: 1.4rem;
      padding-left: 1rem;
      &:first-child{
        padding-top: 0.5rem;
      }
      span {
        display: block;
        padding-left: 1rem;
      }
    }
    #google_map {
      margin-left: 0.5rem;
      height: 25rem;
      width: 25rem;
    }
    article {
      padding: 1rem;
      ul{
        list-style-type: none;
        margin: 0;
        padding: 0;
        li {
          a {
            display: block;
            padding: .2rem .5rem;
            &:focus, &:hover, &:active {
              background: rgba(238,238,238,1);
              color: rgba(51,51,51,1);
              text-decoration: none;
            }
          }
        }
      }
    }
  }
  #xhr_msg {
    border-radius: 1rem;
    box-shadow: 0.6rem 0.6rem #3e3e3e;
    color: rgba(0, 0, 0, 1);
    display: none;
    position: absolute;
    padding: 1.2rem;
    text-indent: 1.5rem;
    top: 5rem;
    z-index: 105;
    &.loading {
      @include background-image-file("icons/loading.gif",rgba(230, 255, 230, 1));
      display: block;
      text-indent: 2.5rem;
    }
    &.info {
      @include background-image-file("icons/info.png",rgba(230, 255, 230, 1));
      display: block;
    }
    &.error, &.warning {
      @include background-image-file("icons/warning.png",rgba(255, 204, 204, 1));
      display: block;
    }
  }
}
