$base-font-size:    12px !default;
$base-line-height:  18px !default;
$rhythm-unit:       'em' !default;
$base-font-family:  Verdana, Helvetica, Arial, sans-serif !default;
$trst-font-path:    'fonts' !default;
$trst-max-width:    800px;
