@font-face{
  font-family: 'EmbossedBlackWideNormal';
  src: url('#{$trst-font-path}/Embossed_Black_Wide-webfont.eot');
  src: url('#{$trst-font-path}/Embossed_Black_Wide-webfont.woff') format('woff'),
    url('#{$trst-font-path}/Embossed_Black_Wide-webfont.ttf') format('truetype'),
    url('#{$trst-font-path}/Embossed_Black_Wide-webfont.svg') format('svg');
}
@mixin background-image-file($file,$color: transparent){
  background: {
    image: image_url(unquote($file));
    color: $color;
    position: .5rem center;
    repeat: no-repeat;
  };
}
@mixin nav-menu {
  background: {
    color: rgba(192,192,192,1);
    image: image_url(unquote("menu_bckgrnd.png"));
    position: center right;
    repeat: repeat-x;
  };
  border-top: .1rem rgba(255,255,255,1) solid;
  border-bottom: .1rem rgba(51,51,51,1) solid;
  line-height: .7rem;
  margin-bottom: .5rem;
}
@mixin ul-menu-main {
  border-left: .1rem rgba(170,170,170,1) solid;
  border-right: .1rem rgba(255,255,255,1) solid;
  display: inline-block;
  margin: 0 1rem;
  padding: 0;
  &:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
  }
}
@mixin ul-menu-submenu {
  display: none;
  margin: 0;
  padding: 0;
  width: 15rem;
  position: absolute;
  top: 1.6rem;
  left: 0;
  background: rgba(214,214,214,1);
  border: .1rem rgba(62,62,62,1) solid;
  border-top: none;
  z-index: 98;
}
@mixin li-menu-main {
  border-left: .1rem rgba(255,255,255,1) solid;
  border-right: .1rem rgba(170,170,170,1) solid;
  float: left;
  position: relative;
  font-size: 1.2rem;
  line-height: 1.1rem;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
@mixin trst-relations-sortable {
  ul:not([class~=select2-choices]) {
    border-radius: .5rem;
    background-color: rgba(230,230,230,1);
    border: .1rem solid rgba(211,211,211,1);
    margin: 0;
    padding: 0 0 3rem;
    float: left;
    max-height: 25rem;
    overflow-y: auto;
    overflow-x: hidden;
    span {
      display: inline-block;
      margin: .5rem;
      min-width: 15rem;
    }
    li {
      cursor: e-resize;
      padding: 0 1.5rem;
      margin: 0 .3rem;
      span {
        margin: .2rem;
      }
    }
  }
}
