$trst-font-path:        'fonts';
$trst-max-width:        800px;
$trst-color-bg-dark:    rgba(0,0,0,.75);
$trst-color-bg-light:   rgba(255,255,255,.95);
$trst-color-bg-hlight:  rgba(255,255,190,1);
$trst-color-txt-dark:   rgba(0,0,0,.80);
$trst-color-txt-darker: rgba(0,0,0,.90);
$trst-color-txt-light:  rgba(255,255,255,.95);
$trst-color-brd-dark:   rgba(0,0,0,.75);
$trst-color-bg-detail:  rgba(214,214,214,1);
$trst-color-bg-info:    rgba(230, 255, 230, 1);
$trst-color-bg-warning: rgba(255, 204, 204, 1);
