[class~=hidden] {
  display: none;
}
[class~=em] {
  font-style: italic;
}
[class~=st] {
  font-weight: bold;
}
[class~=ta-le] {
  text-align: left;
  padding-left: .2rem;
}
[class~=ta-ce] {
  text-align: center;
}
[class~=ta-ri] {
  text-align: right;
  padding-right: .2rem;
}
[class~=ta-ju] {
  text-align: justify;
  padding-left: .2rem;
  padding-right: .2rem;
}
[class~=fl-le] {
  float: left;
}
[class~=fl-ri] {
  float: right;
}
[class~=red] {
  color: rgba(255,0,0,1);
}
[class~=blue] {
  color: rgba(0,0,255,1);
}
[class~=pointer], [class~=link] {
  cursor: pointer;
}
@each $width in 2,4,6,8,10,15,20,25,30,35,40,45,50,55 {
  [class~=w-#{$width}rem] {
    width: 1rem * $width;
  }
}
@each $width in 80,90,100 {
  [class~=w-#{$width}pr] {
    width: 1% * $width;
  }
}
