footer {
  text-align: center;
  span {
    border-top-left-radius: 3rem;
    border-top-right-radius: 3rem;
    background-image: linear-gradient(to top, rgba(245,245,245,1), rgba(62,62,62,1));
    display: inline-block;
    padding: .5rem 3rem;
  }
}
