%p.close{:onclick => "trst.task.destroy()"}
%p.task_title= "Adeverinţă predare/primire (Selectare client)"
%table{:cellspacing => "0"}
  %thead
    %tr
      %td
  %tbody
    %tr
      %td.filtering-select-pf
        %input#pfFilteringSelect
        %span{:class => "button post"}= "Creare client"
  %tfoot
    %tr
      %td{:class => "buttons_bottom"}
        %span{:class => "button post", :data => {:task_id => @task.id}}= t("button.post")
        %span{:class => "button cancel", :onclick => "trst.task.destroy()"}= t("button.cancel")
