:ruby
  id_pn = params[:id_pn]
%p.close{:onclick => "trst.task.destroy()"}
%p.task_title= t('trst_partners_pf.query.title')
%span#hidden_data.hidden{:data => {:task_id => "#{@task.id}", :js => "acc.expenditure", :action => "query", :id_pn => "#{id_pn}"}}
- if id_pn
  %p Deocamdată ptr. testare :)
  %p.filtering-select-client
    %input#clientSelect
  %table{:cellspacing => "0"}
    %tbody
      %tr
        %td
          %span Bani primiţi în total:&nbsp;
          %span= "%.2f" % TrstAccExpenditure.query(id_pn)
    %tfoot
      %tr
        %td
- else
  %p.filtering-select-client
    %input#clientSelect
