%table
  %body
    - tr_input_for @object, 'name',       {tag: {data: {mark: 'ui-focus focus step'}}}
    - tr_input_for @object, 'title',      {tag: {data: {mark: 'ui-focus step'}}}
    - tr_input_for @object, 'help',       {tag: {data: {mark: 'ui-focus step'}}}
    - tr_input_for @object, 'haml_path',  {tag: {data: {mark: 'ui-focus step'}}}
    - tr_input_for @object, 'goal',       {tag: {data: {mark: 'ui-focus step'}}}
    - tr_input_for @object, 'rels',       {tag: {data: {mark: 'ui-focus step'}}}
    - tr_input_for @object, 'params',     {tag: {data: {mark: 'ui-focus step'}}}
    %tr
      %td{colspan: "3"}
        %input{type: "hidden",name: "[#{@path}][user_ids][]",value: nil}
        %ul.trst-ui-sortable
          %span.relation-title= t('title.relations_inv')
          - @object.view_users.each do |t|
            %li.ui-state-default
              %span= t[1]
              %input{type: "hidden", name: "[#{@path}][user_ids][]", value: t[0]}
        - button 'relations', {relations: {rel_to: 'user', text: mat(@object, :user_ids)}}
