%body
  - tr_input_for @object, 'name'
  - tr_input_for @object, 'title'
  - tr_input_for @object, 'help'
  - tr_input_for @object, 'haml_path'
  - tr_input_for @object, 'goal'
  - tr_input_for @object, 'rels'
  - tr_input_for @object, 'params'
  %tr
    %td{colspan: "3"}
      %input{type: "hidden", name: "[#{@path}][user_ids][]", value: nil}
      %ul.trst-ui-sortable
        %span.relation-title= t('title.relations_inv')
        - @object.view_users.each do |t|
          %li.ui-state-default
            %span= t[1]
            %input{type: "hidden", name: "[#{@path}][user_ids][]", value: t[0]}
      %button{type: "button", data: {action: "relations", icon: "transferthick-e-w", rel_to: "user"}}= mat(@object, :user_ids)
