-unless request.xhr?
  :javascript
    loginBox.init()
-else
  %p.close{:onclick => "loginBox.destroy()"}
  %p.title= t('trst_auth.login_title')
  %form#form_auth{:action => "/auth/login", :method => "post"}
    %span
      = t('trst_auth.login_name')
      %input{:name => "[login_name]"}
    %span
      = t('trst_auth.login_pass')
      %input{:type => "password", :name => "[password]"}
    %span.ce.login
      %input{:type => "submit", :value => " Login ", :onclick => "loginBox.destroy()"}
